<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Gera Unity</title>

    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="menu_header container">
        <div class="content">

            <nav>
                <ul>
                    <li>

                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Funcionarios", "Index", "Funcionarios", new { area = "" }, new { @class = "navbar-brand" })

                        @Html.ActionLink("Alunos", "Index", "Alunos", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
    </div>

    <div class="container">
        <div class="content">

            @RenderBody()


            <div class="clear"></div>
        </div>
    </div>



    <script src="~/Scripts/jquerymask.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
